* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input[type="button"] {
  margin: 5px;
  vertical-align: top;
  box-shadow: 8px 8px black;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 12%;
  font-size: 90px;
  height: 105px;
  width: 105px;
  text-decoration: none;
}

.initButton {
  animation: initButton 0.8s;
}

@keyframes initButton {
  0%,
  100% {
    background-color: white;
  }
  50% {
    background-color: lightblue;
    transform: translate(-10px, -10px);
    box-shadow: 18px 18px black;
  }
}

input:enabled:hover[value=""] {
  background-color: lightgray;
}

input:enabled:active[value=""] {
  transform: translate(5px, 5px);
  box-shadow: 3px 3px black;
  background-color: lightgray;
}

input[type="button"].winner {
  background-color: lightgreen;
  animation: winning infinite 1s;
}

@keyframes winning {
  0%,
  100% {
  }
  50% {
    transform: translate(-10px, -10px);
  }
}

input[type="button"]:disabled:not([class="winner"]) {
  background-color: rgb(248, 232, 232);
  opacity: 0.5;
}
